@tailwind base;

/* Estilos base */
html, body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

/* Soporte para modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #ffffff;
  }
}

/* Soporte para modo claro */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
}