@tailwind utilities;

@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .perspective-800 {
    perspective: 800px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }
}